---
import Layout from "../layouts/Layout.astro";
import Card from "../components/indexcards.astro";
import Footer from "../components/footer.astro";
import { Image } from "astro:assets";
import Image1 from "../assets/img/index/header-fondo.jpg";
---

<Layout title="Guia de Seguridad y Alta Disponibilidad.">
  <header class="flex flex-col justify-center items-center text-center">
    <Image src={Image1} alt="header-fondo.jpg" width={1920} height={1082} />
    <div
      class="flex flex-col justify-center items-center absolute m-auto p-4 bg-pink-600 bg-opacity-80 rounded text-white"
    >
      <h1 class="font-bold text-xl md:text-4xl lg:text-6xl">
        Diccionario de Seguridad
      </h1>
      <p class="font-bold text-xl md:text-2xl lg:text-2xl">
        Erik de Miguel Adame
      </p>
    </div>
  </header>

  <div
    class="flex flex-col justify-center items-center p-8 m-4 md:p-24 md:m-24 text-center"
  >
    <h2 class="text-2xl text-pink-600 font-bold mb-4">
      Términos Clave en Ciberseguridad y Ataques Informáticos
    </h2>
    <p>
      Esta sección define conceptos esenciales relacionados con la seguridad
      digital y los ataques informáticos. Incluye técnicas y herramientas
      utilizadas por ciberdelincuentes para comprometer sistemas, robar
      información y causar daños económicos. Conocer estos términos es
      fundamental para entender cómo protegerse contra amenazas en el entorno
      digital.
    </p>
  </div>

  <Card />

  <div
    class="flex flex-col justify-center items-center p-4 m-4 md:p-12 md:m-12"
  >
    <h2 class="text-2xl text-pink-600 font-bold mb-4">¿Quieres Saber Más?</h2>
    <p>Descubre todos los detalles en mi guía documentada.</p>
    <a
      href="/manual"
      class="inline-block px-12 py-2 m-4 rounded-full bg-pink-600 hover:bg-pink-800 transition-all ease-in-out text-white"
      >Ver guía completa</a
    >
  </div>

  <Footer />
</Layout>
