---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import HeaderManual from "../components/headermanual.astro";
---

<Layout title="Phishing">
  <HeaderManual
    href="/public/img/guide-main/phishing-attack.webp"
    alt="phishing-attack.webp"
  />

  <section id="introduccion" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">
      ¿Qué es el phishing y cómo afecta a los usuarios de correo electrónico?
    </h1>
    <p class="text-lg leading-relaxed mb-12">
      El phishing es una estafa en la que los delincuentes intentan robar tu
      información personal haciéndose pasar por entidades legítimas. Imagina que
      recibes un correo de tu banco diciendo que hay un problema con tu cuenta.
      Al hacer clic en el enlace, te lleva a una página que se ve idéntica a la
      de tu banco, pero en realidad es falsa y está diseñada para robar tus
      datos. Así, al ingresar tu usuario y contraseña, los delincuentes obtienen
      acceso a tu cuenta real.
    </p>
  </section>

  <section id="protegerse" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">
      Pasos sencillos para protegerse del phishing
    </h1>
    <p class="text-lg leading-relaxed mb-12">
      Protegerte del phishing puede ser sencillo si sigues algunas
      recomendaciones. Primero, usa el sentido común antes de compartir
      información sensible. Si recibes un correo de tu banco, nunca hagas clic
      en el enlace. En su lugar, abre una nueva ventana de tu navegador y
      escribe la dirección del banco directamente en la barra de direcciones
      para asegurarte de que estás en el sitio correcto.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Además, fíjate si el mensaje tiene errores ortográficos o si el sitio web
      parece poco profesional. Los hackers suelen crear estos sitios
      rápidamente, así que pueden tener errores evidentes.
    </p>
  </section>

  <section id="software_de_seguridad_internet" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">
      Software de seguridad en Internet: una mejor defensa
    </h1>
    <p class="text-lg leading-relaxed mb-12">
      Una manera eficaz de evitar caer en trampas de phishing es tener instalado
      un buen software de seguridad en tu computadora. Este software proporciona
      varias capas de protección y es fácil de usar. Incluye un firewall,
      antispam y antimalware, todos trabajando juntos para proteger tu sistema.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      El antispam, por ejemplo, ayuda a mantener tu bandeja de entrada libre de
      correos electrónicos sospechosos. Con el tiempo, se vuelve más inteligente
      y mejor para distinguir entre correos legítimos y basura.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      El antimalware es otra capa de protección importante. Este software se
      actualiza constantemente para identificar y neutralizar amenazas nuevas,
      manteniendo tu computadora a salvo de virus, troyanos y otros tipos de
      malware.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Aunque la tecnología cambia rápidamente, un buen paquete de seguridad de
      un proveedor confiable puede protegerte del phishing y otras amenazas en
      línea.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Para más información y recursos sobre phishing, visita
      <a
        href="https://latam.kaspersky.com/resource-center/preemptive-safety/what-is-phishings-impact-on-email"
        class="text-green-500 underline hover:text-green-300"
        target="_blank">Karspersky</a
      >.
    </p>
  </section>
  <Footer />
</Layout>
