---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import HeaderManual from "../components/headermanual.astro";
---

<Layout title="Stealers">
  <HeaderManual
    href="/public/img/guide-main/stealer.webp"
    alt="stealer-attack.webp"
  />

  <section id="introduccion" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">
      ¿Qué son los Stealers y cómo pueden afectarte?
    </h1>
    <p class="text-lg leading-relaxed mb-12">
      Los stealers son un tipo de malware diseñado para robar información
      sensible de tu dispositivo, como contraseñas, datos de tarjetas de crédito
      y credenciales de inicio de sesión. Estos programas maliciosos se
      infiltran en tu sistema sin que te des cuenta y envían la información
      robada a los atacantes, poniendo en riesgo tu privacidad y seguridad
      financiera.
    </p>
  </section>

  <section id="protegerse" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">
      Pasos sencillos para protegerse de los Stealers
    </h1>
    <p class="text-lg leading-relaxed mb-12">
      Protegerse de los stealers es esencial para mantener tu información
      segura. Aquí tienes algunos consejos prácticos para protegerte:
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Primero, utiliza un software de seguridad confiable que incluya protección
      contra malware y asegúrate de mantenerlo actualizado. Este software puede
      detectar y bloquear amenazas antes de que puedan hacer daño.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Segundo, evita descargar archivos o programas de fuentes no confiables.
      Muchos stealers se ocultan en aplicaciones aparentemente legítimas que se
      distribuyen a través de sitios web poco seguros o correos electrónicos de
      phishing.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Además, usa contraseñas fuertes y únicas para cada una de tus cuentas.
      Considera utilizar un gestor de contraseñas para ayudarte a mantener tus
      contraseñas seguras y organizadas.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Finalmente, habilita la autenticación de dos factores (2FA) siempre que
      sea posible. Esta capa adicional de seguridad puede proteger tus cuentas
      incluso si tus contraseñas son robadas.
    </p>
  </section>

  <section id="deteccion" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">
      Cómo detectar y eliminar Stealers
    </h1>
    <p class="text-lg leading-relaxed mb-12">
      Detectar stealers puede ser complicado, ya que están diseñados para operar
      de manera encubierta. Sin embargo, hay algunos signos que pueden indicar
      la presencia de stealers en tu dispositivo, como un rendimiento inusual
      del sistema, actividad de red sospechosa o la aparición de nuevas
      aplicaciones que no recuerdas haber instalado.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Para eliminar stealers, sigue estos pasos:
    </p>
    <ul class="list-disc list-inside mt-4">
      <li>
        Realiza un análisis completo de tu dispositivo con tu software de
        seguridad. Asegúrate de que esté actualizado para detectar las amenazas
        más recientes.
      </li>
      <li>
        Elimina cualquier archivo o programa que el análisis marque como
        stealer. Sigue las instrucciones de tu software de seguridad para
        asegurarte de que la eliminación sea completa.
      </li>
      <li>
        Cambia todas tus contraseñas después de eliminar el stealer para
        asegurarte de que tus cuentas estén seguras.
      </li>
      <li>
        Considera restaurar tu dispositivo a su configuración de fábrica si el
        stealer persiste. Asegúrate de respaldar tus datos importantes antes de
        hacerlo.
      </li>
    </ul>
  </section>

  <section id="prevencion" class="m-12">
    <h1 class="text-4xl font-semibold mb-4">Prevención a largo plazo</h1>
    <p class="text-lg leading-relaxed mb-12">
      La mejor defensa contra los stealers es la prevención. Mantente informado
      sobre las últimas amenazas y prácticas de seguridad. Educa a tus amigos y
      familiares para que también estén protegidos. La seguridad es una
      responsabilidad compartida y, juntos, podemos crear un entorno digital más
      seguro.
    </p>
    <p class="text-lg leading-relaxed mb-12">
      Para más información y recursos sobre phishing, visita
      <a
        href="https://www.malwarebytes.com/blog/threats/info-stealers"
        class="text-blue-500 underline hover:text-blue-300"
        target="_blank">Malwarebytes</a
      >.
    </p>
  </section>
  <Footer />
</Layout>
