---
interface Props {
  src: string;
  alt: string;
  title: string;
  description: string;
}

const { src, alt, title, description } = Astro.props;
---

<article class="flex justify-center items-start gap-4 p-4 m-4">
  <aside class="w-1/3">
    <img src={src} alt={alt} class="w-full h-full" />
  </aside>
  <aside class="w-2/3">
    <h2 class="text-xl font-bold">{title}</h2>
    <p class="text-gray-600 dark:text-gray-300">
      {description}
    </p>
  </aside>
</article>
