<footer
  class="flex flex-col justify-center items-center bg-black text-white p-4 text-sm md:text-base w-full"
>
  <p>© 2024 Erik de Miguel Adame. Todos los derechos reservados.</p>
  <div>
    <a href="" class="m-4 hover:underline">Política de Privacidad</a>
    <a href="" class="m-4 hover:underline">Términos del Servicio</a>
    <a href="" class="m-4 hover:underline">Contacto</a>
  </div>
</footer>
