---
import LinkNav from "./linkNav.astro";
---

<nav
  class="bg-violet-600 dark:bg-pink-600 flex justify-start items-center text-white relative"
>
  <button
    id="abrirMenu"
    class="text-4xl md:hidden p-4"
    aria-controls="menu"
    aria-expanded="false"
  >
    &#8801;
  </button>
  <button
    id="cerrarMenu"
    class="hidden text-4xl fixed top-10 left-10 z-10 p-4"
    aria-controls="menu"
    aria-expanded="true"
  >
    &times;
  </button>
  <ul
    id="menu"
    class="menu hidden md:flex md:flex-wrap flex-col md:flex-row justify-center items-center fixed top-0 left-0 w-full h-full bg-black md:bg-transparent md:w-auto md:h-auto md:static transition-all duration-300 ease-in-out py-20 md:py-0 overflow-auto"
  >
    <LinkNav href="/" title="Inicio" />
    <LinkNav href="/manual" title="Manual" />
    <LinkNav href="/manual/phishing" title="Phishing" />
    <LinkNav href="/manual/DoS" title="DoS" />
    <LinkNav href="/manual/troyano" title="Troyano" />
    <LinkNav href="/manual/backdoors" title="Backdoors" />
    <LinkNav href="/manual/spyware" title="Spyware" />
    <LinkNav href="/manual/stealers" title="Stealers" />
    <LinkNav href="/manual/Botnet" title="Botnet" />
    <LinkNav
      href="/manual/Ataque de fuerza bruta"
      title="Ataque de fuerza bruta"
    />
    <LinkNav href="/manual/koobface" title="Koobface" />
    <LinkNav href="/manual/vpn" title="VPN" />
    <LinkNav href="/manual/firewall" title="Firewall" />
    <LinkNav href="/manual/dmz" title="DMZ" />
    <LinkNav href="/manual/proxy" title="Proxy" />
  </ul>
</nav>

<script type="module">
  const menu = document.getElementById("menu");
  const abrirMenu = document.getElementById("abrirMenu");
  const cerrarMenu = document.getElementById("cerrarMenu");

  abrirMenu.addEventListener("click", () => {
    menu.classList.remove("hidden");
    abrirMenu.classList.add("hidden");
    cerrarMenu.classList.remove("hidden");
  });

  cerrarMenu.addEventListener("click", () => {
    menu.classList.add("hidden");
    abrirMenu.classList.remove("hidden");
    cerrarMenu.classList.add("hidden");
  });
</script>
