---
import Link from "../components/linkmanualheader.astro";
---

<nav
  class="flex flex-wrap justify-center items-center text-center bg-pink-600 text-white"
>
  <Link href="/" title="Inicio" />
  <Link href="/phishing" title="Phishing" />
  <Link href="/DoS" title="DoS" />
  <Link href="/troyano" title="Troyano" />
  <Link href="/backdoors" title="Backdoors" />
  <Link href="/spyware" title="Spyware" />
  <Link href="/stealers" title="Stealers" />
  <Link href="/Koobface" title="Koobface" />
  <Link href="/Botnet" title="Botnet" />
  <Link href="/Ataque de fuerza bruta" title="Ataque de fuerza bruta" />
</nav>
