---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/noticiasCards.astro";
import Footer from "../../../components/footer.astro";
import Nav from "../../../components/nav.astro";
---


<Layout title="Noticias">
        <Nav />
        <section class="grid grid-cols-1 p-4 m-4 gap-8">
            <Card href="https://www.bbc.com/mundo/noticias/2015/10/151007_iwonder_finde_tecnologia_virus_stuxnet" title="Gusano y Stuxnet" description="El ataque del gusano Stuxnet destruyó 1000 máquinas en la central nuclear de Natanz, Irán, el día 15 de octubre de 2010."></Card>

            <Card href="https://www.bbc.com/mundo/noticias/2015/10/151007_iwonder_finde_tecnologia_virus_stuxnet" title="Gusano y Stuxnet" description="El ataque del gusano Stuxnet destruyó 1000 máquinas en la central nuclear de Natanz, Irán, el día 15 de octubre de 2010."></Card>




        </section>

        <Footer></Footer>
</Layout>